html {
  font-size: 12px;
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

body {
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

[data-bs-theme="dark"] {
  --bs-body-bg: #1b1b1b;
  --bs-body-color: #f2f2f2;
  --bs-emphasis-color: #ffffff;
  --bs-secondary-color: #c7c7c7;
  --bs-tertiary-bg: #252525;
  --bs-secondary-bg: #202020;
  --bs-border-color: #303030;
  --bs-border-color-translucent: rgba(255, 255, 255, .12);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
}

.playfair {
  font-family: "Playfair Display", serif;
}

.theme-toggle:focus,
.theme-toggle:active {
  box-shadow: none;
}

.step-number {
  width: 3rem;
  height: 3rem;
}
