@model ChangePasswordViewModel

<form asp-action="ChangePassword" asp-controller="Profile" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger small mb-3"></div>

    <div class="mb-3">
        <label class="form-label" asp-for="CurrentPassword"></label>
        <input class="form-control" asp-for="CurrentPassword" autocomplete="current-password" />
        <span class="text-danger small" asp-validation-for="CurrentPassword"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="NewPassword"></label>
        <input class="form-control" asp-for="NewPassword" autocomplete="new-password" />
        <span class="text-danger small" asp-validation-for="NewPassword"></span>
    </div>

    <div class="mb-4">
        <label class="form-label" asp-for="ConfirmNewPassword"></label>
        <input class="form-control" asp-for="ConfirmNewPassword" autocomplete="new-password" />
        <span class="text-danger small" asp-validation-for="ConfirmNewPassword"></span>
    </div>

    <button class="btn btn-primary" type="submit">Update Password</button>
</form>
